* {
  box-sizing: border-box; }

html, body {
  font-family: 'Roboto', sans-serif; }

body {
  background-color: #ddd; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase; }

button {
  border-radius: 6px;
  font-size: 16px;
  padding: 10px;
  text-transform: uppercase; }
  button.primary {
    background-color: #BDA770;
    border: 1px solid #BDA770;
    color: #fff; }
  button.secondary {
    background-color: #fff;
    border: 1px solid #BDA770;
    color: #BDA770; }

.main-content {
  background-color: #fff; }

.siteheader-comp header {
  background-color: #000;
  color: #BDA770;
  padding: 20px; }
  .siteheader-comp header:after {
    clear: both;
    content: '';
    display: table; }
  .siteheader-comp header .site-logo {
    color: #BDA770;
    float: left;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    text-decoration: none;
    text-transform: uppercase; }
  .siteheader-comp header nav {
    float: right; }
    .siteheader-comp header nav a {
      color: #BDA770;
      display: block;
      padding: 0 20px;
      text-align: center;
      text-decoration: none; }
    .siteheader-comp header nav i {
      display: block; }

.siteheader-comp nav {
  font-family: 'Open Sans Condensed', sans-serif; }
  .siteheader-comp nav ul, .siteheader-comp nav li {
    list-style: none;
    margin: 0;
    padding: 0; }
  .siteheader-comp nav ul {
    display: flex; }

.siteform-comp h1 {
  text-align: center; }

.siteform-comp .siteform-content {
  margin: 0 auto;
  max-width: 800px; }

.siteform-comp .form-group {
  padding: 20px 0;
  text-align: center; }

.siteform-comp label {
  display: inline-block;
  margin-bottom: 10px; }

.siteform-comp input[type=text], .siteform-comp input[type=email], .siteform-comp input[type=password], .siteform-comp input[type=date] {
  font-size: 16px;
  padding: 10px;
  width: 100%; }

.siteform-comp #recaptcha > div {
  display: inline-block; }

.items-grid h1 {
  text-align: center; }

.items-grid .btn-holder {
  padding: 10px;
  text-align: center; }

.items-grid .flex-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 10px 0; }

.items-grid .col {
  padding: 10px 0;
  width: 22.5%; }

.items-grid .col-2 {
  padding: 10px 0;
  width: 100%; }

.product-item, .product-item-2 {
  border-radius: 6px;
  border: 1px solid #ddd;
  overflow: hidden; }
  .product-item img, .product-item-2 img {
    width: 100%; }
  .product-item .img-content, .product-item-2 .img-content {
    margin-bottom: 10px; }
  .product-item h3, .product-item .desc-content, .product-item .ratings-content, .product-item-2 h3, .product-item-2 .desc-content, .product-item-2 .ratings-content {
    margin: 0;
    padding: 0 10px;
    text-align: center; }

.product-item-2 {
  height: 200px;
  padding: 10px 10px 10px 210px;
  position: relative; }
  .product-item-2 .img-content {
    height: 200px;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 200px; }
  .product-item-2 h3, .product-item-2 .desc-content, .product-item-2 .ratings-content {
    text-align: left; }

footer {
  background-color: #ddd;
  padding: 20px;
  text-align: center; }
